@font-face {
    font-family: 'yellowtailregular';
    src: url('fonts/Yellowtail-Regular-webfont.eot');
    src: url('fonts/Yellowtail-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Yellowtail-Regular-webfont.woff') format('woff'),
    url('fonts/Yellowtail-Regular-webfont.ttf') format('truetype'),
    url('fonts/Yellowtail-Regular-webfont.svg#yellowtailregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansregular';
    src: url('fonts/PTS55F-webfont.eot');
    src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTS55F-webfont.woff') format('woff'),
    url('fonts/PTS55F-webfont.ttf') format('truetype'),
    url('fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold';
    src: url('fonts/PTS75F-webfont.eot');
    src: url('fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTS75F-webfont.woff') format('woff'),
    url('fonts/PTS75F-webfont.ttf') format('truetype'),
    url('fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chunkfive';
    src: url('fonts/Chunkfive.eot');
    src: url('fonts/Chunkfive.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chunkfive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
    background: #000000;
    font-family: pt_sansregular;
    font-size: 14px;
    color: #7f8c8d;
}

a {
    text-decoration: none;
    color: #7f8c8d;
}
h1, h2, h3, h4, h5,h6{
    font-family: chunkfive;
    text-align: center;
    color: #7f8c8d;
    font-weight: 100;
}
#container {
    width: 1200px;
    margin: 0 auto;
    background: #fff;

}

/* header section*/
#header {
    padding: 15px 130px;
    margin: 10px 0 0 0;
}

#logo {
    float: left;
    padding: 0;
    margin: 0;
}

#logo a {
    float: left;
    margin-right: 20px;
    font-family: yellowtailregular;
    font-size: 56px;
    color: #2c3e50;
}

#logo p {
    float: left;
    font-size: 14px;
    margin-top: 39px;
}

#main-menu {
    float: right;
}

#main-menu ul li {
    float: left;
    font-size: 21px;
    list-style: none;
    line-height: 16px;
    border-right: 2px solid #7f8c8d;
    margin-top: 26px;
}

#main-menu ul li:last-child {
    border: none;
}

#main-menu ul li a {
    padding: 5px 15px;

}

#main-menu .active a {
    font-family: pt_sansbold;
    background: #f39c12;
    border-radius: 4px;
    color: #ffffff;
    margin: 0 -2px;
    white-space: nowrap;
}
/*product section*/
#product-section{
    background: url("../images/product_section_bg.jpg") no-repeat;




}
#monitor{
    float: left;
    width: 40%;
    background: url("../images/monitor_bg.png") no-repeat;
    margin: -10px 0 0 80px;
    padding: 90px 0 170px 0;
}
#monitor p{

    font-family: chunkfive;
    font-size: 39px;
    color: #ffffff;
    margin: 8px 0 75px 105px ;

}
.monitor-button-wrapper {
    font-size: 14px;
    font-family: pt_sansbold;
    padding: 0 60px;
}
.monitor-button-wrapper a{
    background: #f39c12;
    float: left;
    margin: 0 27px;
    color: #ffffff;
    padding: 5px 0;
    width: 108px;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
}
.product-description{
    width: 40%;
    float: left;
    line-height: 20px;
   margin: 60px 0 0 40px;
}
.product-description h1{
    font-size: 56px;
    color: #ffffff;
    line-height: 8px;
}
.product-description h4{
    font-size: 21px;
    color:#bdc3c7;
    line-height: 8px;
}
.product-description p{
    text-transform:uppercase;
    color: #f39c12;
    padding-top: 10px;
}
.product-description p:last-child{
    text-transform:none;
    color: #ffffff;
}
/*product-about-section*/
#product-about-section{
    float: left;
    padding: 50px 0;
    width: 100%;
    background: #ecf0f1;
}
#product-about-section div{
    margin: 0 auto;
    padding: 0 60px;
}
#product-about-section h1{
    color:#f39c12;
    font-size: 35px;
    line-height: 5px;
}
#product-about-section h3{
font-size: 21px;
}
.column{
    float: left;
}
.column img{
    width: 100%;
}
/* ==============================*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

