@font-face {
    font-family: 'yellowtailregular';
    src: url('fonts/Yellowtail-Regular-webfont.eot');
    src: url('fonts/Yellowtail-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Yellowtail-Regular-webfont.woff') format('woff'),
    url('fonts/Yellowtail-Regular-webfont.ttf') format('truetype'),
    url('fonts/Yellowtail-Regular-webfont.svg#yellowtailregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansregular';
    src: url('fonts/PTS55F-webfont.eot');
    src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTS55F-webfont.woff') format('woff'),
    url('fonts/PTS55F-webfont.ttf') format('truetype'),
    url('fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold';
    src: url('fonts/PTS75F-webfont.eot');
    src: url('fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTS75F-webfont.woff') format('woff'),
    url('fonts/PTS75F-webfont.ttf') format('truetype'),
    url('fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chunkfive';
    src: url('fonts/Chunkfive.eot');
    src: url('fonts/Chunkfive.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chunkfive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
    background: #000000;
    font-family: pt_sansregular;
    font-size: 14px;
    color: #7f8c8d;
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #7f8c8d;
}
h1, h2, h3, h4, h5,h6{
    font-family: chunkfive;
    text-align: center;
    color: #7f8c8d;
    font-weight: 100;
}
ul li{
    list-style: none;
}

/* header section*/
header {
    padding: 20px 100px 35px 120px;
    margin: 10px 0 0 0;
    background: #fff;
}

figure {
    float: left;
    padding: 0;
    margin: 0;
}

figure a {

    margin-right: 20px;
    font-family: yellowtailregular;
    font-size: 56px;
    color: #2c3e50;
}

figure span {
    font-size: 14px;
}

nav {
    float: right;
    margin-top: 20px;
}
nav li{
    display: inline-block;
    margin-right:-2%;
}

nav li a{
    display: block;
    font-size: 21px;
    padding: 0 20px;
    border-right: 2px solid #7f8c8d;
}

nav .active>a{
    font-family: pt_sansbold;
    background: #f39c12;
    border-radius: 4px;
    padding:10px 20px;
    color: #fff;
    white-space: nowrap;
    border:none;
}
nav li:last-child a{
    border: none;
}
/*product section*/
#product{
   background: url("../images/product_section_bg.jpg") no-repeat;
}
#monitor{
    float: left;
    width: 42%;
    background: url("../images/monitor_bg.png") no-repeat;
    margin: -10px 0 0 80px;
    padding: 90px 0 170px 0;
}
#monitor p{
    font-family: chunkfive;
    font-size: 39px;
    color: #ffffff;
    margin: 8px 0 75px 105px ;
}
.monitor-button-wrapper {
    font-size: 14px;
    font-family: pt_sansbold;
    padding: 0 60px;
}
.monitor-button-wrapper a{
    background: #f39c12;
    float: left;
    margin: 0 16px 0 30px;
    color: #ffffff;
    padding: 7px 0;
    width: 108px;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
}
.product-description{
    width: 51%;
    float: right;
}
.product-description .wrapper{
    margin:75px 105px 0 0;
}
.product-description h1{
    font-size: 56px;
    color: #ffffff;
}
.product-description h2{
    font-size: 21px;
    color:#bdc3c7;
    margin-bottom: 35px;
}
.product-description  p{
    width:90%;
    line-height:20px;
    text-transform:uppercase;
    color: #f39c12;
    margin-bottom:20px;
}
.product-description p:last-child{
    width:90%;
    line-height:20px;
    color:#fff;
    text-transform: none;
}

/*product-about-section*/
#product-about{
    width: 100%;
    background: #ecf0f1;
    padding-bottom: 70px;
}

#product-about h1{
    padding-top: 60px;
    color:#f39c12;
    font-size: 35px;
    margin-bottom: 8px;
}
#product-about h2{
    font-size: 21px;
    padding-bottom: 45px;
}
#product-about .layout-positioner{
    margin: 0 130px;
}
#product-about .layout-positioner .layout-column{
    width: 25%;
    float:left;
    box-sizing: border-box;
}
.layout-column .wrapper{
    padding:0 40px;
}
.layout-column .wrapper p{
    padding-top: 20px;
}
.icon{
    background: url('../images/sprite_img.png')no-repeat;
  display:block;
}
.tool{
    width: 120px;
    height: 120px;
    background-position: -360px 0;
}
.email{
    width: 120px;
    height: 120px;
    background-position: -240px 0;
}
.cloud{
    width: 120px;
    height: 120px;
    background-position: -120px 0;
}
.camera{
    width: 120px;
    height: 120px;
    background-position: 0 0;
}

/*gallery-section*/
#gallery{
    background: #fff;
}
#gallery .layout-positioner{
    margin: 0 110px;
    padding: 80px 0 70px 0;
}
#gallery .layout-positioner .column{
    padding: 0 20px;
    box-sizing: border-box;
}
#gallery .follow{
    width:15%;
    float:left;
}
#gallery .gallery{
    width:60%;
    float:left;
}
#gallery .download{
    float:left;
    width:25%;
}
#gallery .follow .avatar{
    width:80px;
    height:80px;
    background:#95a5a6;
    border:10px solid #bdc3c7;
    margin-bottom: 15px;
}
#gallery .follow a{
    display:block;
    width:100px;
    font-family: pt_sansbold;
    border-radius: 4px;
    background: #f39c12;
    color: #ffffff;
    white-space: nowrap;
    text-align: center;
    line-height: 40px;
    margin-bottom: 15px;
}
#gallery .follow p>span{
    font-family: pt_sansbold;
    font-size: 21px;
}
#gallery .follow p{
    line-height: 20px;
}
#gallery .gallery li{
    float:left;
    padding: 0 20px 20px 0;
}
#gallery .gallery img{
    border: 10px #bdc3c7 solid;
}
#gallery .download .cloud{
    display:block;
    width:220px;
    height:220px;
    border-radius: 100%;
    background: #bdc3c7 url('../images/cloud_download.png')no-repeat 50% 50%;
    margin-bottom: 25px;
}
#gallery .download .btn{
    width:220px;
    display: block;
    height:55px;
    font-size:21px;
    font-family: chunkfive;
    line-height: 55px;
    background:#2c3e50;
    color:#fff;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}
#gallery .download .btn:active{
    background: red;
}
.social{
    background:url('../images/sprite-social.png') no-repeat;
   display: block;
}
.download .fb{
    float: left;
    width:24px;
    height:24px;
    margin-right: 10px;
    background-position: -52px 0;

}
.download .tw{

    float: left;
    width:24px;
    height:24px;
    background-position: -124px 0;
    margin-right: 10px;
}
.download span{
    float: left;
    line-height: 24px;
    font-family: pt_sansbold;
    font-size:14px;
    font-weight: bold;
}


/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-behance-icon {
    width: 24px;
    height: 24px;
    background-position: 0 0;
}

.sprite-email-small {
    width: 28px;
    height: 18px;
    background-position: -24px 0;
}

.sprite-fb_icon1 {
    width: 24px;
    height: 24px;
    background-position: -52px 0;
}

.sprite-fb_icon2 {
    width: 24px;
    height: 24px;
    background-position: -76px 0;
}

.sprite-pinterest_icon {
    width: 24px;
    height: 24px;
    background-position: -100px 0;
}

.sprite-tw_icon1 {
    width: 24px;
    height: 24px;
    background-position: -124px 0;
}

.sprite-tw_icon2 {
    width: 24px;
    height: 24px;
    background-position: -148px 0;
}

.sprite-vimeo_icon {
    width: 24px;
    height: 24px;
    background-position: -172px 0;
}

*/
/* ==============================*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
