@font-face {
    font-family: 'yellowtailregular';
    src: url('fonts/Yellowtail-Regular-webfont.eot');
    src: url('fonts/Yellowtail-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Yellowtail-Regular-webfont.woff') format('woff'),
    url('fonts/Yellowtail-Regular-webfont.ttf') format('truetype'),
    url('fonts/Yellowtail-Regular-webfont.svg#yellowtailregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansregular';
    src: url('fonts/PTS55F-webfont.eot');
    src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTS55F-webfont.woff') format('woff'),
    url('fonts/PTS55F-webfont.ttf') format('truetype'),
    url('fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold';
    src: url('fonts/PTS75F-webfont.eot');
    src: url('fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTS75F-webfont.woff') format('woff'),
    url('fonts/PTS75F-webfont.ttf') format('truetype'),
    url('fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chunkfive';
    src: url('fonts/Chunkfive.eot');
    src: url('fonts/Chunkfive.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chunkfive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #000;
    font-family: pt_sansregular;
    font-size: 14px;
    color: #7f8c8d;
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #7f8c8d;
}

h1, h2, h3, h4, h5, h6 {
    font-family: chunkfive;
    text-align: center;
    color: #7f8c8d;
    font-weight: 100;
}

ul li {
    list-style: none;
}

/* header section*/
header {
    padding: 20px 100px 35px 120px;
    margin: 10px 0 0 0;
    background: #fff;
}

figure {
    float: left;
    padding: 0;
    margin: 0;
}

figure a {

    margin-right: 20px;
    font-family: yellowtailregular;
    font-size: 56px;
    color: #2c3e50;
}

figure span {
    font-size: 14px;
}

nav {
    float: right;
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin-right: -2%;
}

nav li a {
    display: block;
    font-size: 21px;
    padding: 0 20px;
    border-right: 2px solid #7f8c8d;
}

nav .active > a {
    font-family: pt_sansbold;
    background: #f39c12;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    white-space: nowrap;
    border: none;
}

nav li:last-child a {
    border: none;
}

/*product section*/
#product {
    background: url("../images/product_section_bg.jpg") no-repeat;
}

#product .layout-positioner {
    margin: 0 120px 0 80px;
}

#product .layout-column {
    width: 50%;
    float: left;
}

#product .monitor {
    background: url("../images/monitor_bg.png") no-repeat;
    width: 447px;
    height: 416px;
    margin-top: -8px;
}

#product .signature h1 {
    padding: 95px 0 70px 0;
    font-family: chunkfive;
    font-size: 39px;
    text-align: center;
    color: #ffffff;
}

#product .signature {
    font-size: 14px;
    font-family: pt_sansbold;
    padding: 0 60px;
}

#product .signature a {
    background: #f39c12;
    float: left;
    margin: 0 16px 0 30px;
    color: #ffffff;
    padding: 7px 0;
    width: 108px;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
}

.product-description {
    margin: 75px 0 0 20px;
}

.product-description h1 {
    font-size: 56px;
    color: #ffffff;
}

.product-description h2 {
    font-size: 21px;
    color: #bdc3c7;
    margin-bottom: 35px;
}

.product-description p {

    line-height: 20px;
    text-transform: uppercase;
    color: #f39c12;
    margin-bottom: 20px;
}

.product-description p:last-child {
    line-height: 20px;
    color: #fff;
    text-transform: none;
}

/*product-about-section*/
#product-about {
    width: 100%;
    background: #ecf0f1;
    padding-bottom: 70px;
}

#product-about h1 {
    padding-top: 60px;
    color: #f39c12;
    font-size: 35px;
    margin-bottom: 8px;
}

#product-about h2 {
    font-size: 21px;
    padding-bottom: 45px;
}

#product-about .layout-positioner {
    margin: 0 130px;
}

#product-about .layout-positioner .layout-column {
    width: 25%;
    float: left;
    box-sizing: border-box;
}

#product-about .layout-column .wrapper {
    padding: 0 40px;
}

#product-about .layout-column .wrapper p {
    padding-top: 20px;
}

.icons {
    background: url('../images/sprite-tools.png') no-repeat;
    display: block;
}

#product-about .tool {
    width: 120px;
    height: 120px;
    background-position: -584px -4px;
}

#product-about .email {
    width: 120px;
    height: 120px;
    background-position: -456px -4px;
}

#product-about .cloud {
    width: 120px;
    height: 120px;
    background-position: -230px -4px;
}

#product-about .camera {
    width: 120px;
    height: 120px;
    background-position: -4px -4px;
}

/*gallery-section*/
#gallery {
    background: #fff;
}

#gallery .layout-positioner {
    margin: 0 110px;
    padding: 80px 0 65px 0;
}

#gallery .layout-column {
    padding: 0 20px;
    box-sizing: border-box;
}

#gallery .follow {
    width: 15%;
    float: left;
}

#gallery .thumbnail {
    width: 60%;
    float: left;
}

#gallery .download {
    float: left;
    width: 25%;
}

#gallery .follow .avatar {
    width: 80px;
    height: 80px;
    background: #95a5a6;
    border: 10px solid #bdc3c7;
    margin-bottom: 15px;
}

#gallery .follow a {
    display: block;
    width: 100px;
    font-family: pt_sansbold;
    border-radius: 4px;
    background: #f39c12;
    color: #ffffff;
    white-space: nowrap;
    text-align: center;
    line-height: 40px;
    margin-bottom: 15px;
}

#gallery .follow p > span {
    font-family: pt_sansbold;
    font-size: 21px;
}

#gallery .follow p {
    line-height: 20px;
}

#gallery .thumbnail li {
    float: left;
    padding: 0 20px 20px 0;
}

#gallery .thumbnail img {
    border: 10px #bdc3c7 solid;
}

#gallery .download .cloud {
    display: block;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    background: #bdc3c7 url('../images/cloud_download.png') no-repeat 50% 50%;
    margin-bottom: 25px;
}

#gallery .download .btn {
    width: 220px;
    display: block;
    height: 55px;
    font-size: 21px;
    font-family: chunkfive;
    line-height: 55px;
    background: #2c3e50;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}

#gallery .download .btn:active {
    background: red;
}

.social {
    background: url('../images/sprite-social.png') no-repeat;
    display: block;
}

.download .fb {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-position: -15px -117px;

}

.download .tw {

    float: left;
    width: 24px;
    height: 24px;
    background-position: -15px -279px;
    margin-right: 10px;
}

.download span {
    float: left;
    line-height: 24px;
    font-family: pt_sansbold;
    font-size: 14px;
    font-weight: bold;
}

/*sign-up section*/
#sign-up {
    background: #f39c12;
}

#sign-up .layout-positioner {
    margin: 0 130px 0 120px;
    padding: 70px 0;
}

#sign-up .icon-description {
    width: 50%;
    float: left;
}

#sign-up .tool {
    float: left;
    width: 90px;
    height: 90px;
    background-position: -712px -4px;
}

#sign-up .cloud {
    float: left;
    width: 90px;
    height: 90px;
    background-position: -358px -4px;
}

#sign-up .camera {
    float: left;
    width: 90px;
    height: 90px;
    background-position: -132px -4px;
}

#sign-up .description {
    float: left;
    width: 65%;
    margin-left: 30px;
}

#sign-up .description p {
    color: #fff;
    font-family: pt_sansregular;
    font-size: 14px;
    line-height: 21px;
}

#sign-up .description span {
    font-family: chunkfive;
}

#sign-up .laptop {
    width: 50%;
    float: right;
}

.laptop-bg {
    background: url('../images/laptop_bg.png') no-repeat;
    width: 480px;
    height: 304px;
    margin-bottom: 35px;
}

#sign-up .wrapper {
    padding-bottom: 50px;
}

#sign-up .email {

}

input[id='email-field'] {
    float: left;
    position: relative;
    display: block;
    padding-left: 50px;
    background: #fff url('../images/sprite-social.png') no-repeat -5px -60px;
    line-height: 33px;
    height: 33px;
    border: 1px solid #d98705;
    width: 250px;
    margin-right: 20px;
}

input[type='submit'] {
    float: right;
    height: 36px;
    width: 130px;
    background: #e67e22;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-family: chunkfive;
}

/*footer*/
footer {
    background: #2c3e50;
}

footer .layout-positioner {
    padding: 0 130px 80px 130px;
}

footer .want-more {
    margin-top: 30px;
    float: left;
    width: 50%;
}

footer .download-piatto {
    float: right;
    width: 50%;

}

footer .want-more h1 {
    text-align: left;
    font-size: 35px;
    font-family: chunkfive;
    margin-bottom: 20px;

}

footer .want-more p {
    line-height: 21px;
    margin-bottom: 30px;
}

footer .social {
    float: left;
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

footer .fb {
    background-position: -15px -171px;
}

footer .tw {
    background-position: -15px -333px;
}

footer .pinterest {
    background-position: -15px -225px;
}

footer .vimeo {
    background-position: -15px -387px;
}

footer .behance {
    background-position: -15px -15px;
}

footer .download-piatto {
    width: 260px;
    padding: 25px;
    background: #34495e;
}

footer .download-piatto h1 {
    text-align: left;
    font-size: 28px;
    font-family: pt_sansbold;
    padding-bottom: 20px;
}

footer li {
    border-bottom: 1px solid #44596e;
}

footer li:last-child {
    border: none;
}

footer li a {
    line-height: 35px;
}

/* ==============================*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
